.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #f96332;
}

.nav-toggle {
    cursor: pointer;
    border: none;
    font-size: 20px;
    background-color: inherit;
}